.leftBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 72px;
    height: 100vh;
    position: sticky;
    top: 0;
    padding: 17px 0px;
    border-right: 1px solid #e9e9e9;
}

.menuIcons{
display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
}

.menuIcon{
    width: 48px;
    height: 48px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.menuIcon:hover{
    background-color: #f1f1f1;
}
.logo{
    width: 24px;
    height: 24px;
}